body {
  padding-top: 90px;
}

.ol {
  padding-bottom: 15px;
}

.navbar-default {
  background-color: #212223;
  /*background-color: #283d4c;*/
  border: none;
}

.section h2 {
  margin-top: -40px !important;
}
