body {
  color: white;
  background: #252625;
  font-family: Vollkorn, sans-serif;
}

.page-header {
  display: none;
}

.main-content {
  width: 600px;
}

/* syntax highlighting */
.main-content pre {
  background: none;
  border: none;
}

.main-content code {
  font-family: Vollkorn, "PT Sans", sans-serif;
}

code span.kw {
  color: #59a325;
  font-weight: normal;
}

code span.st {
  color: #4286f4;
  font-weight: normal;
}
/* syntax highlighting END */

h1 {
  font-family: "Open Sans Condensed", "Chelsea Market", sans-serif;
}

.main-content h1 {
  color: white;
  font-size: 2em;
}

#header {
  color: #cc4604;
  background: white;
  text-align: center;
  padding: 5px;
}

.header {
  font-family: Vollkorn, sans-serif;
  font-size: 3em;
  font-weight: 300;
}

#footer {
  color: black;
  background: white;
  text-align: center;
  padding: 20px;
}

.into-the-blue, a {
  color: #4286f4;
}

@media (max-width: 600px) {
  .main-content {
    width: 100%;
  }
}
